<html>
<head>
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='css/' + style + '.css') }}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='graphics/logo.png') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
</head>
<body>
    <!-- Menu -->
    <div class="main-menu-dropdown">
        <a href="{{ url_for('index') }}">
          <img class="logo" src="{{ url_for('static', filename='graphics/logo.png') }}">
          <span>{{ title }}</span>
        </a>
        <input type="checkbox" id="main-menu-check">
        <label for="main-menu-check" class="show-menu">&#9776;</label>
        <div class="main-menu">
            <a href="{{ url_for('index') }}">Blog</a>
            <a href="{{ url_for('archive') }}">{% if language=="de-de" %}Archiv{% else %}Archive{% endif %}</a>
            <label for="main-menu-check" class="hide-menu">X</label>
        </div>
    </div>
    <!-- Menu -->
    <!-- Content -->
	{% block content %}
	{% endblock %}
    <!-- Content -->
    <footer>
        <div class="center">
            Made with <a href="https://github.com/tiyn/beaker-blog">Beaker Blog</a>.
        </div>
    </footer>
</body>
</html>
