:root {
    --error: rgb(255,0,0);
    --transtime: 0.7s;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: var(--transtime);
}

a:hover {
    cursor: pointer;
}

body {
    margin: 0;
}

body,
html {
    font-family: sans-serif;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

footer {
    height: 100px;
    padding-top: 20px;
}

footer .center {
    text-align: center;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.container .flash {
    padding: 10px;
    width: 400px;
}

.hide-menu,
.show-menu {
    cursor: pointer;
    display: none;
    font-size: 30px;
    transition: var(--transtime);
}

.important {
    font-size: xx-large;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 30vh;
    text-align: left;
}

.important span {
    font-weight: bold;
}

.logo {
    height: 80px;
    padding-top: 10px;
}


.main-menu-dropdown img {
    float: left;
}
.main-menu-dropdown span,
.main-menu-dropdown a {
    float: left;
    font-family: Georgia, serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 100px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.7s;
}

.main-menu {
    float: right;
    font-family: Georgia, serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 100px;
}

.main-menu a {
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.7s;
}

.main-menu-dropdown {
    height: 100px;
    padding: 0 20px;
}

.show-menu {
    float: right;
    line-height: 100px;
}

#main-menu-check {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media screen and (max-width:800px) {
    .hide-menu {
        position: absolute;
        right: 40px;
        top: 40px;
    }

    .hide-menu,
    .show-menu {
        display: block;
    }

    .main-menu {
        height: 100vh;
        line-height: normal;
        padding: 80px 0;
        position: fixed;
        right: -100%;
        text-align: center;
        top: 0;
        transition: var(--transtime);
        width: 100%;
    }
    .main-menu a {
        display: block;
        padding: 20px;
    }

    #main-menu-check:checked ~ .main-menu {
        right: 0;
    }
}

form {
    margin-bottom: 40px;
}

.standalone {
    max-height: 100%;
}

.entry {
    max-height: 100%;
    border-radius: 0 10px 30px 0;
    margin-bottom: 20px;
    padding-left: 20px;
}

h1, h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.standalone h1:first-child {
    padding-bottom: 0;
}

.imprint h1:first-child {
    padding-bottom: 20px;
}

.blog h1:first-child {
    padding-bottom: 20px;
}

.entry h2:first-child {
    padding-top: 0;
    padding-bottom: 0;
}

.blogarchive h1:first-child {
    padding-bottom: 0;
}

.blogarchive h2:first-child {
    padding-top: 0;
    padding-bottom: 0;
}

.entry ul {
    padding-left: 20;
}

figure {
    padding-top: 20px;
    padding-bottom: 20px;
}

.entry figure:last-child {
    padding-bottom:0
}

ul {
    padding-left:20px;
}

ol {
    padding-left:20px;
}

code {
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    page-break-inside: avoid;
    font-family: monospace;
    white-space: pre;
    display: inline-block
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
}

form.search button[type=submit] {
  float: left;
  width: 5%;
  padding: 12px;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

.standalone img {
  width: 50%;
}
.entry img {
  width: 50%;
}
